* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: wheat;
}

.container {
  width: 50%;
  margin: 50px auto;
}

.container > div {
  margin: 5px 0;
}

#prgtext {
  width: 100%;
  padding: 5px;
  height: 250px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#result {
  padding: 5px;
  height: 30px;
  border: 1px solid black;
  width: 100%;
}

#panel {
  padding: 5px;
  height: 40px;
  border: 1px solid black;
  width: 100%;
}

#eval {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  background-color: navy;
  color: whitesmoke;
  border-radius: 5px;
}

select {
  width: 100px;
  padding: 5px;
  background-color: #500000;
  color: lightyellow;
  border: 1px solid whitesmoke;
  margin-left: 5px;
}

#panel,
#prgtext,
#result {
  background-color: #500000;
  color: lightyellow;
}

/* media - queries */

@media screen and (max-width: 800px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 95%;
  }

  select {
    width: 70px;
    padding: 5px;
  }
}
